.sidebar {

}

.sidebar.open {
    position: absolute;
    height: 100%;
    background-color: #FFFFFF;
    width: 200px;


}

.background {

}

.nav {
    padding-top: 50px;
}

.nav a {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-family: Monaco;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: dodgerblue;
}

.nav a.active {
    font-size: 18px;
    color: blue;

}
.close {
}

.close img {
    text-align: right;
}
