.App {
    --header_height: 60px;
}

.hw {
    margin: 20px 0px;
    padding-bottom: 200px;
    padding-left: 20px;
    height: 50px;
    border: none;
    border-top: 1px solid #333;
}

.hwTitle {
    font-size: 20px;
    padding: 20px 20px;
}