.button {
    font-size: 16px;
}

.disabled {
    color: black;
}

.secondary {
}

.default {
}

.red {
    color: #cc0000;
}

.default:hover {
}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
